{
	"root": true,

	"extends": "@ljharb",

	"overrides": [
		{
			"files": "index.js",
			"rules": {
				"complexity": "off",
				"no-param-reassign": "warn",
			},
		},
		{
			"files": "test/**/*.js",
			"rules": {
				"class-methods-use-this": "off",
				"getter-return": "off",
				"max-lines-per-function": "warn",
				"no-empty-function": "off",
			},
		},
	],
}
